<%- contentFor('layoutContent') %>
<div class="mainContent">
    <h1><%= title %></h1>
    <% if(errors) { %>
        <ul>
            <% for(error of errors) { %>
                <li><%= error.msg %></li>
            <% } %>
        </ul>
    <% } %>
    <form method="post">
        <div class="formGroup">
            <label for="categoryName">Name </label>
            <input type="text" placeholder="Name of the category" name="category_name" id="categoryName" required 
                value="<%= ((category) ? category.name : '') %>" />
        </div>
        <div class="formGroup">
            <label for="categoryDescription">Description </label>
            <textarea cols="40" rows="3" placeholder="Description of the category" name="category_description" id="itemCategory" required><%= ((category) ? category.description : '') %></textarea>
        </div>
        <button type="submit" class="addEntryButton">Submit</button>
    </form>
</div>