<%- contentFor('layoutContent') %>
<div class="mainContent">
  <div class="contentDescription">
    <h1><%= title %></h1>
    <p>Welcome to our <%= title %></p>
  </div>

  <div class="statistics">
    <h1>Statistics</h1>
      <p><strong>Number of items: </strong><%= items_count %></p>
      <p><strong>Number of categories: </strong><%= categories_count %></p>
  </div>
</div>
